@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --blue: #18117f;
    --blue2: #012446;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #fff;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow-x: hidden;
}

.background-top {
    background-color: #e9effb;
    padding-bottom: 50px;
    border-radius: 0px 0px 30px 30px;
}


/*

body::-webkit-scrollbar {
  display: none;
}



body::before {
  content: "";
  background-image: url("image/gp-khutri-logo-Main2.png");
  background-repeat: repeat;
  background-size: 45px 50px;
  opacity: 6%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
*/


/********************************************************************************************************************************
********************************************** All Main Codes below *************************************************************/

.navtopbar {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo1 {
    height: clamp(40px, 10vw, 120px);
    width: clamp(40px, 10vw, 120px);
    margin-right: 50px;
    margin-left: 10%;
}

.logo2 {
    height: clamp(40px, 10vw, 120px);
    width: clamp(40px, 10vw, 120px);
    margin-right: 20px;
}


/*
.logo2 {
height: clamp(60px, 9vw, 90px);
width: clamp(60px, 9vw, 90px);
margin-left: 50px;
}
*/

.title {
    margin-right: auto;
}

.title h1 {
    font-size: 40px;
}

.title span {
    font-size: clamp(10px, 2vw, 25px);
    font-weight: 900;
}


/*------------------------------------------------------------------------------------------*/


/*-----------------------------------Navigation bar-------------------------------------------------*/


/*-----------------------------------------------------------------------------------------*/

.navbar.sticky {
    position: fixed;
    top: -100px;
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    border-radius: 0px;
    -webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/*------mobile END -----------------*/

.navbar img {
    height: 40px;
    width: 40px;
    display: none;
}

.mobile_logo-title {
    display: none;
}

#menu_button {
    display: none;
}


/*------mobile responsive-----------------*/

@media(max-width: 60em) {
    .navbar img {
        height: 40px;
        width: 40px;
        display: block;
    }
    .mobile_logo-title {
        display: block;
        width: 100%;
    }
    .menu1 {
        display: none;
    }
    div .navbar {
        padding-left: 2%;
        margin-top: 0px;
    }
    /*----------------Menu button -------------*/
    #menu_button {
        font-size: 30px;
        padding-right: 5%;
        display: block;
        cursor: pointer;
    }
    /*----------------Menu button END-------------*/
    div .navbar {
        height: 80px;
    }
    div .menu {
        display: none;
    }
    .navtopbar {
        display: none;
    }
    .mobile_logo-title p {
        color: white;
        padding-left: 10px;
        font-size: 18px;
    }
    .mobile_logo-title span {
        color: white;
        padding-left: 10px;
        font-size: 18px;
    }
    .navbar button {
        font-size: 12px;
    }
    .sign_bt {
        display: none;
    }
}


/*-----------------PC Navbar-------------------*/

.navbar {
    background: linear-gradient(to right, #18117f, #012446);
    width: auto;
    display: flex;
    padding-left: 7.2%;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    top: 0;
    z-index: 100;
    background-color: #fff;
    /* Change this to your preferred background color */
}


/* ----------------------------------------------
 * Generated by Animista on 2023-4-20 22:28:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(100px);
        transform: translateY(100px);
    }
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    padding: 15px;
}

nav a {
    color: aliceblue;
    font-size: clamp(10px, 20vw, 20px);
    text-decoration: none;
    position: relative;
    display: inline;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    left: 0px;
    bottom: -5px;
    border-radius: 3px;
    transform: scalex(0);
    transition: transform 0.5s;
    transform-origin: right;
}

nav a:hover::after {
    transform: scalex(1);
    transform-origin: left;
}


/*----------------Submenu------------------*/


/*----------------Submenu-END-----------------*/


/*------------Login_Button----------------*/

button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }
    70% {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px 14px;
        font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
        border-radius: 6px;
        border: none;
        color: #fff;
        background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
        background-origin: border-box;
        box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}


/*------------------------------------------------------------------------------Navigation-END-----------------------------------------------------*/


/*****************************************************
      Welcomne message 
*******************************************************/

.welcome {
    background-image: url("assets/image/welcome.jpg");
    background-repeat: no-repeat;
    background-position: 1%;
    background-size: cover;
    height: 70vh;
    width: 100%;
    background-color: black;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.5);
    /* Adjust the values as needed */
}

.welcome_box {
    background-color: rgba(0, 0, 0, 0.499);
    height: 100%;
}

.welcome_text {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

.welcome_text h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.welcome_text img {
    height: 150px;
    width: 150px;
}

.welcome_text span {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

@media(max-width: 60em) {
    .welcome {
        background-position: center;
        height: 200px;
        /* Adjust the values as needed */
    }
    .welcome_text {
        padding-top: 10%;
    }
    .welcome_text h1 {
        color: rgb(255, 255, 255);
        font-size: 20px;
        ;
    }
    .welcome_text img {
        height: 80px;
        width: 80px;
    }
    .welcome_text span {
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
    }
}


/*****************************************************
      Banner Style
*******************************************************/

@media(max-width: 60em) {
    div.main_body {
        align-content: center;
        flex-direction: column;
        margin-top: 10px;
    }
    div .img_banner_main {
        height: 80%;
        width: 100%;
        border-radius: 5px;
    }
}

.img_banner_main {
    background-color: #000000;
    margin-right: 50px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


/* 
.slideshow-container img {
    vertical-align: middle;
}

.mySlides {
    display: none;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.8s ease;
}

.fade {
    animation-name: fade;
    animation-duration: 7s;
}

@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}
 */


/***********************************************
              marquee
***********************************************/

.marquee_2 {
    display: none;
    padding-top: 2px;
    width: auto;
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    color: #c9ff16;
    background-color: #012446;
    font-family: sans-serif;
    font-size: 1.1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* border-radius: 0px 0px 30px 30px; */
}

.marquee1 {
    padding-top: 2px;
    width: auto;
    height: 35px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    color: #c9ff16;
    background-color: #012446;
    font-family: sans-serif;
    font-size: 1.1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* border-radius: 0px 0px 30px 30px; */
}

.marquee1 img {
    height: 20px;
    width: 20px;
}

.marquee1 a {
    color: #d7f628;
    text-decoration: none;
}

.marquee_2 a {
    color: #d7f628;
    text-decoration: none;
}

marquee:hover .marquee_1 {
    color: #ff0000;
}

marquee span {
    padding-left: 5%;
}


/* ------------------marquee @media------------------------------ */

@media screen and (max-width: 768px) {
    .marquee1 {
        display: none;
    }
    .marquee_2 {
        display: block;
        padding-bottom: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }
}


/*****************************************************
                       notification area 
        ******************************************************/

.notification {
    width: 510px;
    height: auto;
    /* padding: 7px; */
    overflow: hidden;
    border-radius: 8px;
    background: #eef4ff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.notification_background {
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(to right, #012446, #18117f);
    height: auto;
}

.notification h1 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 2px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.scrolling-content {
    padding-top: 7px;
}

.scroll {
    animation: scrolling 15s linear infinite;
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    animation-delay: 3s;
}


/*-------- notification scroll animation ---------*/


/* @keyframes scrolling {
    0% {
        transform: translateY(0);
      


}
100% {
    transform: translateY(-100%);
    
}

} */


/*-------- notification , Notice ---------*/

*/ #scroll:hover {
    animation-play-state: paused;
}

.Title {
    height: auto;
    padding-bottom: 5px;
    margin: 5px;
    border-radius: 6px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 2px;
    padding-top: 5px
}

.Title:hover {
    background: #ffffff;
}

.scrolling-content::-webkit-scrollbar {
    display: none;
}

.title_box_bottom {
    display: flex;
    align-items: center;
    margin-right: 10px;
    justify-content: space-between;
}


/* Notification Box Title Css */

.Title p {
    margin-left: 10px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #3c3b3b;
}

.Notice_date {
    color: #000000;
    font-size: 14px;
    margin-left: 10px;
    font-weight: bold;
}


/* notification @media  */

@media screen and (max-width: 768px) {
    .notification {
        width: auto;
        height: 454px;
        margin-top: 20px;
    }
}


/***********************************************
            Welcome
***********************************************/

@media screen and (max-width: 768px) {
    div .welcome_title .Line1 {
        font-size: 25px;
    }
    div .welcome_title .Line2 {
        font-size: 20px;
    }
    div .welcome_title p {
        padding: 3%;
    }
    .wel_underline {
        height: 2px;
        width: 100px;
        background-color: #ffffff;
        margin-top: 10px;
        margin-right: 40px;
        margin-left: 30px;
        border: 10px;
    }
}

.Wel_box {
    height: 800px;
    overflow: hidden;
    margin: 5%;
    border-radius: 30px;
    background-image: url("image/gradient1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 10%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.Gradient1_img {
    height: 800px;
    width: 2000px;
}

.welcome_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome_title .Line1 {
    font-weight: bold;
    color: #000000;
    font-size: 50px;
    font-family: sans-serif;
}

.welcome_title .Line2 {
    color: #303030;
    font-size: 32px;
    font-family: sans-serif;
}

.welcome_title p {
    padding: 3%;
    text-align: center;
    color: #140505;
    font-weight: bold;
    font-size: 20px;
}

.wel_underline {
    height: 2px;
    width: 100px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 30px;
    border: 10px;
}


/**************************************  
                   Text_box button  css
***************************************/

.notification_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    color: #fff;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}

button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}


/********************************button2 style *************************-*/

button .notification_button2 {
    bottom: 20px;
    right: 0px;
    font-size: 7px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: radial-gradient(100% 100% at 100% 0%, #fffd89 0%, #5fff54 100%);
    box-shadow: 0px 0.01em 0.01em rgba(55, 66, 35, 0.4), 0px 0.3em 0.7em -0.01em rgba(44, 66, 35, 0.3), inset 0px -0.01em 0px rgba(58, 102, 111, 0.5);
    padding: 0 2em;
    border-radius: 2em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

button:hover {
    box-shadow: 0px 0.1em 0.2em rgba(43, 66, 35, 0.4), 0px 0.4em 0.7em -0.1em rgba(62, 66, 35, 0.3), inset 0px -0.1em 0px #62e03c;
    transform: translateY(-0.1em);
}

button:active {
    box-shadow: inset 0px 0.1em 0.6em #c5e03c;
    transform: translateY(0em);
}


/**************************************  
                   Loading icon css 
        ***************************************/

.three-body {
    --uib-size: 35px;
    --uib-speed: 0.8s;
    --uib-color: #2c88d4;
    position: relative;
    display: inline-block;
    height: var(--uib-size);
    width: var(--uib-size);
    animation: spin78236 calc(var(--uib-speed) * 2.5) infinite linear;
}

.three-body__dot {
    position: absolute;
    height: 100%;
    width: 30%;
}

.three-body__dot:after {
    content: '';
    position: absolute;
    height: 0%;
    width: 100%;
    padding-bottom: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
}

.three-body__dot:nth-child(1) {
    bottom: 5%;
    left: 0;
    transform: rotate(60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(1)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite ease-in-out;
    animation-delay: calc(var(--uib-speed) * -0.3);
}

.three-body__dot:nth-child(2) {
    bottom: 5%;
    right: 0;
    transform: rotate(-60deg);
    transform-origin: 50% 85%;
}

.three-body__dot:nth-child(2)::after {
    bottom: 0;
    left: 0;
    animation: wobble1 var(--uib-speed) infinite calc(var(--uib-speed) * -0.15) ease-in-out;
}

.three-body__dot:nth-child(3) {
    bottom: -5%;
    left: 0;
    transform: translateX(116.666%);
}

.three-body__dot:nth-child(3)::after {
    top: 0;
    left: 0;
    animation: wobble2 var(--uib-speed) infinite ease-in-out;
}

@keyframes spin78236 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes wobble1 {
    0%,
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(-66%) scale(0.65);
        opacity: 0.8;
    }
}

@keyframes wobble2 {
    0%,
    100% {
        transform: translateY(0%) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(66%) scale(0.65);
        opacity: 0.8;
    }
}

#loading_icon {
    margin-top: 30%;
    margin-left: 30%;
    display: flex;
}

#loading_icon span {
    margin-top: 7px;
    margin-left: 10px;
}


/**************************************  
                    main body
***************************************/

div.main_body {
    z-index: 2;
    display: flex;
    height: 200%;
    padding-top: 2%;
    margin-left: 8%;
    margin-right: 8%;
    border-radius: 20px;
    padding-bottom: 10px;
}

div.top_main {
    width: 100px;
    height: 100px;
}


/***********************************************
                  Placment 
***********************************************/

@media(max-width: 60em) {
    .placement div h1 {
        font-size: 30px;
    }
    .img_box_plac {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .placement .img_box_plac img {
        margin-right: 6%;
    }
}


/*------------------------------------------*/

.placement {
    width: 100%;
    height: auto;
    padding: 5%;
    text-align: center;
}

.img_box_plac {
    display: flex;
    align-items: center;
    justify-content: center;
}

.placement h1 {
    font-size: 50px;
    color: #42577d;
}

.placement img {
    margin-right: 2%;
}


/***********************************************
                  Branch
***********************************************/


/***********************************************
              Principal Message Box
***********************************************/

.Principal_message {
    background-image: url("assets/image/Principal_background.webp");
    height: 600px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 30px;
    display: flex;
}

.message_img {
    padding-left: 10%;
    display: flex;
    align-items: center;
    height: 100%;
}

.message_text {
    padding-top: 8%;
    padding-left: 5%;
    color: white;
    padding-right: 10%;
}

.message_text p {
    font-size: 23px;
    color: #9FA2B4;
}

.Principal_img {
    height: 50vh;
    width: 20vw;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .Principal_message {
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    .Principal_img {
        height: 30vh;
        width: 55vw;
        border-radius: 10px;
        margin-top: 30px;
    }
    .message_img {
        padding-left: 0%;
    }
    .message_text {
        padding-top: 8%;
        padding-left: 10%;
        color: white;
        padding-right: 10%;
        justify-content: center;
        align-items: center;
    }
    .message_text p {
        font-size: 20px;
        color: #9FA2B4;
    }
}


/**************************************  
                  Dynamic Slide 
***************************************/


/**************************************  
                  footer style 
***************************************/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #03133c;
    padding: 70px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #1e8ee9;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(40, 63, 190, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.copyright {
    align-items: center;
    justify-content: center;
    display: flex;
}

.hr_footer {
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid #ffffff2c;
}

.copyright p {
    color: rgb(67, 133, 248);
}

.copyright a {
    text-decoration: none;
}

.madby {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(67, 133, 248);
}

.madby span a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}


/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}


/**************************************
              Version
***************************************/

.version {
    font-size: 15px;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}